body,html{
    background: #ebebeb;
    overflow-x: hidden;
}
button.close-button {
    place-content: center!important;
    position: absolute;
    right: -25px;
    top: -25px;
    width: 50px!important;
    background: red!important;
    border-radius: 50%;
    height: 50px!important;
}
.import-modal {
    
    z-index: 9999;
    position: fixed;
    display: grid;
    place-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #b9b9b9;
    gap: 1px;
}
.import-modal button {
    background: white;
    width: 175px;
    height: 65px;
    display: grid;
    place-content: center start;
    grid-template-columns: 50px auto;
    align-items: center;
}

.export-modal {
    
    z-index: 9999;
    position: fixed;
    display: grid;
    place-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #b9b9b9;
    gap: 1px;
}
.export-modal button {
    background: white;
    width: 175px;
    height: 65px;
    display: grid;
    place-content: center start;
    grid-template-columns: 50px auto;
    align-items: center;
}
.modal-content {
    position: relative;
    padding: 20px;
    max-width: 100%;
    max-height: 100%;
    background-color: #fff;
  }
  .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px
  }
.selectedInput {
    display: grid;
    place-content: center;
    background: white;
}
div#sectionToolbar button {
    background: white;
    width: 50px;
    height: 50px;
}
span.icon-text {
    display: none;
}
button img {
    width: 33px;
    margin:auto;
    
}
button{
    color:black;
    margin: 0;
    background: white;
    border: none;
    padding: 10px;
    width: 75px;
    
}
input.section-radio {
    width: 35px;
    height: 35px;
    margin: 10px;
}
/* div#section-toolbar {
    display: grid;
    place-content: start center;
    grid-template-columns: repeat(6,auto);
    height: 72px;
    background: #ebebeb;
    position: sticky;
    z-index: 99999999999;
    width: 100%;
    gap: 1px;
    top: 0;

} */
.section-toolbar button {
    border-top: 1px solid #b6b6b6;
}

input.section-checkbox {
    height: 35px;
    width: 35px;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    z-index: 9999999999;
}

ul {
    padding-left: 20px;
  }
textarea#jscode {
    min-height: calc(100vh - 50px);
    border: none;
}
#empty-section{
    display:none;
}
img{
    width: 100%;
    display:grid;
}
div#title {
    background: #ebebeb;
    position: relative;
    top: 0;
    /* z-index: 9999999; */
    height: 50px;
    display: grid;
    place-content: center;
}

div#fixed-buttons {
    height: calc(100vh - 50px);
    display: grid;
    place-content: start center;
    position: fixed;
    top: 50px;
    width: 100px;
    overflow-y: scroll;
    gap: 1px;
}
div#fixed-sidebar {
    position:fixed;
    top: 50px;  
    width: 100px;
    display: grid;
    place-content: start center;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    gap: 1px;
}
div#admin {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    place-content: center;
    background: #ebebeb;
    min-height: calc(100vh - 50px);
}
@media screen and (max-width:865px){  
    div#admin {
        display: grid;
        grid-template-columns: 100px 1fr 100px;
        place-content: center;
        background: #ebebeb;
        min-height: calc(100vh - 50px);
    }
}
div#empty-section {
    box-sizing: border-box;
    display:grid;
    font-family:system-ui;
    transform: scale(0.7);
    margin-left: -100px;
    margin-right: -100px;
    transform-origin:top;
}
section{
    position: relative;
}
.admin-buttons {
    position: absolute;
    right: 0;
    z-index: 999;
    
}

div#sidebar {
    display: grid;
    place-content: baseline;
    background:#ebebeb;
    min-height: 100vh;
    width:100px;
}
div#buttons {
    display: grid;
    place-content: start center;
    min-height: 100vh;
    gap: 5px;
    background: #ebebeb;
}
#grid {
    box-sizing: border-box;
    display:grid;
    font-family:system-ui;
    transform: scale(0.7);
    margin-left: -100px;
    margin-right: -100px;
    transform-origin:top;
      
}

input#class-list-input {
    position: fixed!important;
    bottom: 0!important;
    width: 100%!important;
    right: 0px!important;
    left: 0px!important;
    text-align: center!important;
    height: 50px!important;
    background: white;
    word-spacing: 10px;
    padding-left: 50px!important;
    padding-right: 50px!important;
    font-size: 12px!important;
    z-index:999;
    border:none;
}
button#admin-add {
    background: red;
    border: none;
    display: grid;
    place-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
}
div#admin-footer {
    display: grid;
    place-content: center;
    margin-top: 10px;
}
.sections {
    background: none;
    border: none;
    padding:0;
    margin:0;
}

*:focus {
    outline: none;
}

body *{
    display:grid;
    font-family:system-ui;
    
}


.background{
    z-index:-1!important;
}


div#content {
    display:block;
    margin: 0 auto;
}

div#admin-header {
    display: grid;
    place-content: center;
    height: 50px;
}

  button#image {
  
    position: absolute;
    z-index: 99999;
    display: block;
    padding: 5px;
    border: none;
    background: #2196f3;
    margin: 5px;
    color: white;
    
}
button#update-image-url{
    
    position: absolute;
    z-index: 99999;
    display: block;
    padding: 5px;
    border: none;
    background: #2196f3;
    margin: 5px;
    color: white;
    margin-left: 85px;
}

button#upload-image{
    position: absolute;
    z-index: 99999;
    display: block;
    padding: 5px;
    border: none;
    background: #2196f3;
    margin: 5px;
    color: white;
    margin-left: 168px;
}
button#add-more {
    padding: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    place-content: center;
    display: grid;
    background: #00b0ff;
    color: white;
    font-size: 35px;
    border: none;
    margin-top: -25px;
    z-index: 10;
    position: relative;
}
#page {
    position: relative;
    transition: transform 0.5s;
    margin-bottom: 100px;
    width: calc(100vw - 200px);
  }
  #my-modal {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    max-width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: left 0.5s;
    overflow-y: scroll;
  }
  #my-modal.show {
    left: 0;
  }
  #left-sidebar-fake{
    display:grid;
    width: 100px;
    height: 100vh;
  }
  
